<a href="https://colab.research.google.com/github/cadl0/HOUSE_XHG_LW/blob/main/house_exchange_TEST1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from google.colab import auth
auth.authenticate_user()

from google.cloud import bigquery

client = bigquery.Client(project='data-analytics-bootcamp-432314')

query = """
SELECT *
FROM `data-analytics-bootcamp-432314.home_exchange.exchanges`
"""

query_job = client.query(query)
results = query_job.result()
df_exchanges = results.to_dataframe()

print(df_exchanges.head())
df_exchanges.to_csv('data_exchanges.csv', index=False, sep=',', encoding='utf-8')

   conversation_id  exchange_id  created_at  creator_id  guest_user_id  \
0         45711461     68386897  2022-06-17     3924597        3924597
1         41802964     63946075  2021-10-12     3836374        3836374
2         46523523     69271507  2022-08-05      456216         456216
3         43221370     65553517  2022-02-11      612681         612681
4         42746492     65005087  2022-01-15     1399611        1399611

   host_user_id finalized_at canceled_at    start_on      end_on  ...  \
0        759980          NaT         NaT  2022-08-06  2022-08-13  ...
1       2418567          NaT         NaT  2021-10-23  2021-10-28  ...
2       1232900          NaT         NaT  2022-10-23  2022-10-30  ...
3       3544183          NaT         NaT  2022-04-16  2022-04-23  ...
4       3905924          NaT         NaT  2022-07-16  2022-08-06  ...

   night_count  user_cancellation_id   exchange_type  home_type  \
0            7                  <NA>  NON_RECIPROCAL  apartment
1            5                  <NA>  NON_RECIPROCAL       Home
2            7                  <NA>  NON_RECIPROCAL       Home
3            7                  <NA>      RECIPROCAL       Home
4           21                  <NA>  NON_RECIPROCAL       Home

  residence_type capacity  country     region department    city
0        primary        2      FRA  Occitanie    Hérault    Sète
1        primary        6      FRA  Occitanie    Hérault    Sète
2        primary       16      FRA  Occitanie    Hérault  Gignac
3        primary        6      FRA  Occitanie    Hérault  Lodève
4        primary       14      FRA  Occitanie    Hérault  Pérols

[5 rows x 21 columns]

In [12]:
from google.colab import auth
auth.authenticate_user()
import pandas as pd
from google.cloud import bigquery

client = bigquery.Client(project='data-analytics-bootcamp-432314')

query = """
SELECT *
FROM `data-analytics-bootcamp-432314.home_exchange.subscriptions`
"""

query_job = client.query(query)
results = query_job.result()
df_subscriptions = results.to_dataframe()

print(df_subscriptions.head())
df_subscriptions.to_csv('data_subscriptions.csv', index=False, sep=',', encoding='utf-8')

  subscription_date  user_id  renew first_subscription_date  \
0        2021-10-16   246592      0              2018-10-06
1        2020-04-07  1258705      1              2010-06-02
2        2021-10-19  2219682      1              2014-03-24
3        2021-08-26  1349069      1              2011-01-27
4        2020-01-02  1418685      1              2012-01-01

   first_subscription  referral  promotion  payment3x  payment2  payment3  \
0                   0         0          0          0         0         0
1                   0         0          0          0         0         0
2                   0         0          0          0         0         0
3                   0         0          0          0         0         0
4                   0         0          0          0         0         0

  country region department        city
0     FRA   None       None    Aussonne
1    None   None       None        None
2    None   None       None        None
3     DNK   None       None  Ærøskøbing
4    None   None       None        None